*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Sans KR', 'Anaheim', sans-serif;
}

/* Set stacking context of slides */
.content:nth-child(1) {
  z-index: 3;
}

.content:nth-child(2) {
  z-index: 2;
}

.content:nth-child(3) {
  z-index: 1;
}

html,
body {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  overscroll-behavior: none;
}

.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.content:first-child {
  background-color: #7e91cb;
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}

.content:first-child .content__wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.content:nth-child(2) {
  background-color: #7e91cb;
}

.content:nth-child(3) {
  background-color: #7e91cb;
}

.content__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content__title {
  font-size: 12vh;
  line-height: 1.4;
}

.content.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}

.content.up-scroll .content__wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.content.up-scroll + .content {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}

.content.up-scroll + .content .content__wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.content.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}

.content.down-scroll .content__wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}

.content.down-scroll + .content:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}

.content.down-scroll + .content:not(.down-scroll) .content__wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
/*# sourceMappingURL=portfolio.css.map */