/* Set stacking context of slides */
.content:nth-child(1) {
  z-index: 3;
}

.content:nth-child(2) {
  z-index: 2;
}

.content:nth-child(3) {
  z-index: 1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Sans KR', 'Roboto', 'Anaheim', sans-serif;
}

html,
body {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  overscroll-behavior: none;
}

.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content:first-child {
  -webkit-transform: translateY(-15vh);
  transform: translateY(-15vh);
}

.content:first-child .content__wrapper {
  -webkit-transform: translateY(15vh);
  transform: translateY(15vh);
}

.content__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-transform: initial;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content__title {
  font-size: 12vh;
  line-height: 1.4;
}

.content.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}

.content.up-scroll .content__wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.content.up-scroll + .content {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}

.content.up-scroll + .content .content__wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.content.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}

.content.down-scroll .content__wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}

.content.down-scroll + .content:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}

.content.down-scroll + .content:not(.down-scroll) .content__wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}

.page-title {
  position: relative;
  padding-left: 10px;
  margin-bottom: 80px;
  color: #7e91cb;
  font-family: 'Anaheim', sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
}

.page-title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 390px;
  height: 36px;
  background: #7e91cb;
  opacity: 0.1;
  border-radius: 25px;
}

.intro {
  background-color: #7e91cb;
}

.intro .content__wrapper {
  position: relative;
  color: #ffffff;
}

.intro .content__title {
  position: absolute;
  top: 32vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.intro .content__title h1 {
  margin-bottom: 28px;
  font-family: 'Anaheim', sans-serif;
  font-size: 96px;
  letter-spacing: 0.5rem;
}

.intro .content__title p {
  width: 244px;
  margin: 0 auto;
  padding: 9px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.intro .content__subtitle {
  position: absolute;
  bottom: 7.5vh;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.intro .content__subtitle > li {
  padding-right: 23px;
}

.intro .content__subtitle > li::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 23px;
  background: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
}

.intro .content__subtitle > li:last-child {
  padding-right: 0;
}

.intro .content__subtitle > li:last-child::after {
  display: none;
}

.profile {
  padding: 0 5.4vw;
  background-color: #ffffff;
}

.profile__img {
  width: 436px;
  height: 596px;
  margin-right: 80px;
}

.profile__info {
  color: #181818;
  text-align: left;
}

.profile__info li label {
  min-width: 80px;
  margin-right: 28px;
  color: #7e91cb;
  font-weight: 500;
}

.career {
  padding: 0 5.4vw;
  background: #f2f4fa;
}

.career .page-title {
  padding: 0;
  margin-top: 72px;
}

.career .page-title::before {
  left: 50%;
  width: 330px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.career__list {
  color: #181818;
  background: #f8f9ff;
  border-radius: 15px;
}

.career__list li {
  min-height: 180px;
  padding: 5px;
  text-align: left;
}

.career__list li label {
  min-width: 80px;
  margin-right: 28px;
  color: #7e91cb;
  font-weight: 500;
}

.career__list li .btn__experience {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #7e91cb;
}

.career__list li .btn__experience::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/icon__arrow--right.svg) no-repeat center center/100%;
  vertical-align: bottom;
}

.career__bottom {
  position: relative;
  padding: 10px 0 7px;
  margin-top: 120px;
  color: #7e91cb;
}

.career__bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #dddddd;
}

.portfolio .swiper {
  width: 100%;
  height: 100%;
}

.portfolio .swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.portfolio .swiper .ybtour {
  background: url(/images/bg__ybtour.svg) no-repeat center center/cover;
}

.portfolio .swiper .doosan {
  background: url(/images/bg__doosan.svg) no-repeat center center/cover;
}

.portfolio .swiper .aronia {
  background: url(/images/bg__aronia.svg) no-repeat center center/cover;
}
/*# sourceMappingURL=portfolio.css.map */