// variable
$main-color: #7e91cb;
$text-color: #181818;
$white-color: #ffffff;
$border-color: #dddddd;
$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 6;
// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
  -webkit-transition: $property $time $easing;
  transition: $property $time $easing;
}
/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
  .content:nth-child(#{$i}) {
    z-index: ($slide-number + 1) - $i;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Noto Sans KR', 'Roboto', 'Anaheim', sans-serif;
}
html,
body {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  overscroll-behavior: none;
}

.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY($parallax-offset);
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:first-child {
    -webkit-transform: translateY(-$parallax-offset / 2);
    transform: translateY(-$parallax-offset / 2);
    .content__wrapper {
      -webkit-transform: translateY($parallax-offset / 2);
      transform: translateY($parallax-offset / 2);
    }
  }
  &__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    text-transform: initial;
    transform: translateY($content-offset);
    will-change: transform;
    backface-visibility: hidden;
    @include transition(
      $transition-speed + 0.5,
      all,
      cubic-bezier(0.22, 0.44, 0, 1)
    );
  }
  &__title {
    font-size: 12vh;
    line-height: 1.4;
  }
  // ------------- SET TRANSFORM VALUES ------------- //
  &.up-scroll {
    transform: translate3d(0, -$parallax-offset / 2, 0);
    .content__wrapper {
      transform: translateY($parallax-offset / 2);
    }
    + .content {
      transform: translate3d(0, $parallax-offset, 0);
      .content__wrapper {
        transform: translateY($parallax-offset);
      }
    }
  }
  &.down-scroll {
    transform: translate3d(0, -(100vh + $parallax-offset), 0);
    .content__wrapper {
      transform: translateY($content-offset);
    }
    + .content:not(.down-scroll) {
      transform: translate3d(0, -$parallax-offset / 2, 0);
      .content__wrapper {
        transform: translateY($parallax-offset / 2);
      }
    }
  }
}
.page-title {
  position: relative;
  padding-left: 10px;
  margin-bottom: 80px;
  color: $main-color;
  font: {
    family: 'Anaheim', sans-serif;
    size: 48px;
    weight: 900;
    style: italic;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 390px;
    height: 36px;
    background: $main-color;
    opacity: 0.1;
    border-radius: 25px;
  }
}
// intro
.intro {
  background-color: $main-color;
  .content__wrapper {
    position: relative;
    color: $white-color;
  }
  .content__title {
    position: absolute;
    top: 32vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    h1 {
      margin-bottom: 28px;
      font-family: 'Anaheim', sans-serif;
      font-size: 96px;
      letter-spacing: 0.5rem;
    }
    p {
      width: 244px;
      margin: 0 auto;
      padding: 9px 0;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      border: {
        top: 1px solid $white-color;
        bottom: 1px solid $white-color;
      }
    }
  }
  .content__subtitle {
    position: absolute;
    bottom: 7.5vh;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font: {
      family: 'Roboto', sans-serif;
      weight: 300;
      size: 20px;
    }
    > li {
      padding-right: 23px;
      &::after {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 23px;
        background: $white-color;
        border-radius: 50%;
        vertical-align: middle;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}
// Profile
.profile {
  padding: 0 5.4vw;
  background-color: $white-color;
  &__img {
    width: 436px;
    height: 596px;
    margin-right: 80px;
  }
  &__info {
    color: $text-color;
    text-align: left;
    li {
      label {
        min-width: 80px;
        margin-right: 28px;
        color: $main-color;
        font-weight: 500;
      }
    }
  }
}
// Career
.career {
  padding: 0 5.4vw;
  background: #f2f4fa;
  .page-title {
    padding: 0;
    margin-top: 72px;
    &::before {
      left: 50%;
      width: 330px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  &__list {
    padding: 60px;
    color: $text-color;
    background: #f8f9ff;
    border-radius: 15px;
    li {
      min-height: 180px;
      padding: 5px;
      text-align: left;
      label {
        min-width: 80px;
        margin-right: 28px;
        color: $main-color;
        font-weight: 500;
      }
      .btn__experience {
        position: absolute;
        right: 0;
        bottom: 0;
        color: $main-color;
        &::after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(/images/icon__arrow--right.svg) no-repeat center
            center / 100%;
          vertical-align: bottom;
        }
      }
    }
  }
  &__bottom {
    position: relative;
    padding: 10px 0 7px;
    margin-top: 120px;
    color: $main-color;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $border-color;
    }
  }
}
.portfolio {
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 80px 100px;
      color: $white-color;
      &__textbox {
        text-align: left;
        h1 {
          font-size: 48px;
        }
        h2 {
          font-size: 22px;
          font-weight: 700;
        }
        li {
          width: 112px;
          height: 112px;
          margin-right: 38px;
          text-align: center;
          border: 2px solid $white-color;
          border-radius: 50%;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: $white-color;
    }
    .swiper-button-next {
      right: 40px;
    }
    .swiper-button-prev {
      left: 40px;
    }

    .ybtour {
      $ybtour: #ffc72c;
      background: url(/images/bg__ybtour.svg) no-repeat center center / cover;
      &__imgbox {
        width: 932px;
        height: 555px;
      }
      &__title {
        margin-bottom: 30px;
        color: $ybtour;
      }
      &__group {
        h2 {
          margin-bottom: 14px;
          color: $ybtour;
        }
      }
    }
    .doosan {
      $doosan: #110f29;
      background: url(/images/bg__doosan.svg) no-repeat center center / cover;
      &__imgbox {
        width: 805px;
        height: 616px;
      }
      &__title {
        margin-bottom: 30px;
        text-shadow: 0px 4px 2px $doosan;
        &::before {
          content: '';
          display: inline-block;
          width: 79px;
          height: 66px;
          background: url(/images/doosan__logo.svg) no-repeat center center /
            cover;
          vertical-align: bottom;
        }
      }
      &__group {
        h2 {
          margin-bottom: 14px;
          color: $white-color;
          text-shadow: -2px 0px $doosan, 0px 2px $doosan, 2px 0px $doosan,
            0px -2px $doosan;
        }
      }
    }
    .aronia {
      $aronia: #f1b9ff;
      background: url(/images/bg__aronia.svg) no-repeat center center / cover;
      &__title {
        margin-bottom: 30px;
        color: $aronia;
      }
      &__group {
        h2 {
          margin-bottom: 14px;
          color: $aronia;
        }
      }
    }
  }
}
.event {
  padding: 0 5.4vw;
  background: #f2f4fa;
  .page-title {
    padding: 0;
    margin-top: 72px;
    &::before {
      left: 50%;
      width: 330px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}
.last {
  color: $white-color;
  background: $main-color;
}
